/* src/admin/Vehicles/Vehicles.css */

.vehicles-container {
  background-color: #FFFAF7;
  padding: 1.5rem 2rem;
  width: 100%;
}

.top-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.left-side {
  display: flex;
  flex-direction: column; /* Aligns vehicle-header and <p> vertically */
  align-items: flex-start; /* Left aligns the text */
}

.header-text {
  display: flex;
  flex-direction: column; /* Stacks the text vertically */
}

.right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vehicle-header {
  color: #ff6a18; 
}

.vehicle-header p {
  margin: 0;
}

.vehicle-header h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem 2rem;
  margin-bottom: 20px;
  border-radius: 10px;
}

.list-header {
  font-weight: normal;
  color: #a2a2a2;
  margin: 0;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.export-btn,
.add-vehicle-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.export-btn {
  background-color: #ffddc1; 
  color: #ff6a18; 
}

.add-vehicle-btn {
  background-color: #c1d8ff; 
  color: #1c4587; 
}

/* Table Styling */
.table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
}

th {
  border-bottom: #a2a2a2 1px solid;
  font-weight: bold;
}

.status {
  min-width: 90px;
  padding: 6px 12px;
  border-radius: 20px; 
  text-align: center;
  display: inline-block;
  font-size: 13px; 
  line-height: normal;
}

.status.repair {
  background-color: #ffd9d9; 
  color: #cc3c3c;
}

.status.inactive {
  background-color: #e6e6e6; 
  color: #767676;
}

.status.active {
  background-color: #d1f1b9; 
  color: #68b031;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #efefef;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ff6a18; 
}

.action-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-btn {
  background-color: transparent;
  border: none;
  color: #a2a2a2;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.3s;
}

.action-btn:hover {
  color: #ff6a18; /* Change icon color on hover */
}

.vehicle-row {
  transition: background-color 0.3s ease;
}

.vehicle-row:hover {
  background-color:#efefef;
}
